@import "~taro-ui/dist/style/components/flex.scss";

$baseColor:#C41A16;
$grid-height:165px;
.grid-container {
    border-radius: 20px;
    margin-top: 10px;
    background-color: $baseColor;
    .hover{
      transform: scale(0.85);
    }
  .grid {
    text-align: center;
    height: $grid-height;
    align-self: center;
    .grid-content{
      height: $grid-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .image-container{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .grid-image {
          width: 80px;
          height: 80px;
          border-radius: 40px;
          
        }
      }

  
      .grid-value {
        color: #ffffff;
        font-size: 24px;
      }
    } 

  }
}
