$font-color:#ffffff;
$functional-header-height:150px;
$functional-header-calendar-image-width:40px;
$functional-header-calendar-image-height:40px;
$functional-header-qrcode-image-width:60px;
$functional-header-qrcode-image-height:60px;
$functional-header-location-image-width:38px;
$functional-header-location-image-height:38px;
$interval:10px;
.functional-header-container{
    height: $functional-header-height;
    color: $font-color;
    .functional-header-content-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        .functional-header-calendar-container{
            display: flex;
            justify-content: center;
            align-items: center;
            .functional-header-calendar-image{
                width: $functional-header-calendar-image-width;
                height: $functional-header-calendar-image-width;
                margin-right: $interval;             
            }   
        }
        .functional-header-qrcode-container{
            display: flex;
            justify-content: center;
            align-items: center;
            .functional-header-qrcode-image{
                width: $functional-header-qrcode-image-width;
                height: $functional-header-qrcode-image-height;
                margin-right: $interval;
            }
        } 
        .functional-header-location-container{
            display: flex;
            justify-content: center;
            align-items: center;
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: $font-color;
            padding-right: 2*$interval;
            .functional-header-location-image{
                width: $functional-header-location-image-width;
                height: $functional-header-location-image-height;
                margin-right: $interval;
            }
        }      
    }
}