$user-info-container-height:310px;
$user-info-container-background-color:#e54d42;
$user-info-container-padding-left:580px;
$icon-width:50px;
$icon-height:50px;
$icon-margin-right:30px;
$avatar-width:140px;
$avatar-height:$avatar-width;
$avatar-border-radius:$avatar-width/2;
$nick-name-color:#ffffff;
$nick-name-font-weight:600;
$nick-name-font-size:50px;
$interval:30px;
$login-and-register-left:-130px;
.user-info-container{
    height: $user-info-container-height;
    background-color: $user-info-container-background-color;
    .hover{
        transform: scale(0.85);
    }
    .user-info-functional{
        display: flex;
        padding-left:$user-info-container-padding-left;
        .setting-image,.qr-code-image{
            width: $icon-width;
            height: $icon-height;
            margin-right: $icon-margin-right;
        }
    }
    .user-info{
        display: flex;
        justify-content: start;
        align-items: center;
        .avatar{
            width: $avatar-width;
            height: $avatar-height;
            border-radius: $avatar-border-radius;
            margin-left: $interval;
        }
        .nick-name{
            color: $nick-name-color;
            font-size: $nick-name-font-size;
            font-weight: $nick-name-font-weight;
            margin-left: $interval;
        }
        .login-and-register{
            position: relative;
            left: $login-and-register-left;
        }
    }
}