$base-color:#e54d42;
$index-waterfall-border-color:#ffffff;
$index-waterfalll-border-radius:10px;



.index-waterfall-container {
  background-color: $base-color;
  border-top: 1px solid $index-waterfall-border-color;
  border-top-left-radius: $index-waterfalll-border-radius;
  border-top-right-radius: $index-waterfalll-border-radius;
}
