.confirm-order-content {
  width: 720px;
  margin: 0 auto;

  .header {
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;

    .goods-order-header {
      display: flex;
      align-items: center;
      padding-left: 20px;
      background-color: #C41A16;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      color: #ffffff;
      font-size: 35px;
      height: 90px;

      .avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 20px;
      }
    }

    .goods-order-content {
      background-color: #fff;
      height: 250px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .goods-pic {
        width: 220px;
        height: 220px;
        border-radius: 20px;
      }

      .goods-title {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 400px;
        height: 200px;
        padding-top: 20px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;

        // border-width: 1px;
        // border-style: solid;
        // border-color: green($color: #000000);
        .degree-and-count {
          font-size: 26px;
          color: #212121;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-top: 60px;

          .degree {
            color: #C41A16;
            // position: relative;
            // left: -24px;
          }

          .count {
            padding-left: 160px;
            font-size: 35px;
          }
        }
      }
    }
  }

  .body {
    height: 500px;
    background-color: #FFFFFF;
    color: #666666;
    font-size: 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
  }

  .footer {
    height: 280px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;

    .footer-header {
      display: flex;
      align-items: center;
      padding-left: 20px;
      background-color: #FECC43;
      color: #ffffff;
      font-size: 30px;
      height: 60px;
    }
    .footer-content{
        padding-left: 20px;
        font-size: 37px;
        font-weight: bold;
        display: flex;
        height: 220px;
        flex-direction: column;
        justify-content: space-around;
        .want-exchange{
            color: #efb336;
        }
        .pay-for-me{
            color:#C41A16 ;
        }
        .pay-for-other{
            color: #27af08;
        }
    }

  }
  .confirm-button{
    width: 720px;
    height: 80px;
    background-color: rgb(18, 182, 18);
    text-align: center;
    font-size: 36px;
    line-height:80px;
    margin-top: 80px;
    color:#ffffff;
    border-radius: 20px;
}
}
