$goods-type-grid-image-width:70px;
$goods-type-grid-image-height:80px;
$goods-type-grid-image-border-radius:$goods-type-grid-image-width/2;
$goods-type-grids-title-font-size:33px;
$goods-type-grid-name-font-size:28px;
$goods-type-grid-name-color:#888;
$margin-left:20px;
$margin-bottom:20px;
$goods-type-grids-title-trademark-width:60px;
$goods-type-grids-title-trademark-height:60px;
$goods-type-grids-title-trademark-border-radius:10px;
$goods-type-grid-name-width:$goods-type-grid-image-width*1.8;
$goods-type-grid-name-height:$goods-type-grid-image-height;
.goods-type-grids-main-container{
    .goods-type-grids-title-container{
        display: flex;
        justify-content: center;
        align-items: center; 
        background-color: #eeeeee;
        margin-bottom: $margin-bottom;
        .goods-type-grids-title{
            font-size: $goods-type-grids-title-font-size;
            margin-left:$margin-left ;
            align-self: center;
            color:#888;
        }
        .goods-type-grids-title-trademark{
            
            margin-left:$margin-left ;
            width: $goods-type-grids-title-trademark-width;
            height: $goods-type-grids-title-trademark-height;
            border-radius: $goods-type-grids-title-trademark-border-radius;
        }
    }

    .goods-type-grids-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        .goods-type-grid{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left:$margin-left ;
            .goods-type-grid-image{
                width: $goods-type-grid-image-width;
                height: $goods-type-grid-image-height;
                // border-radius: $goods-type-grid-image-border-radius;
                background-color: #eeeeee;
            }
            .goods-type-grid-name{
                width: $goods-type-grid-name-width;
                height: $goods-type-grid-name-height;
                font-size: $goods-type-grid-name-font-size;
                color: $goods-type-grid-name-color;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
            }
        }
    }
}