.chat-content{
    background-color: #eee;
    .goods-introduction {
        background-color: #ffffff;
        border-radius: 20px;
        width: 720px;
        margin: 0 auto;
        
        .order-id {
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: #eeeeee;
          height: 60px;
          padding-left: 20px;
          font-size: 28px;
          line-height: 60px;
        }
    
        .goods-introduction-content {

          height: 210px;
          display: flex;
          justify-content: space-around;
          align-items: center;
    
          .img {
            width: 180px;
            height: 180px;
            border-radius: 20px;
            margin-left: 20px;
          }
    
          .introduction {
            padding-left: 20px;
    
            .title {
              font-size: 30px;
              height: 60px;
              font-weight: 600;
              overflow: hidden;
              text-overflow: ellipsis;
            }
    
            .degree-and-count {
              display: flex;
              align-items: center;
              font-size: 27px;
              .count {
                padding-left: 200px;
              }
            }
    
            .price-info {
              font-size: 24px;
    
              .want-exchange,
              .pay-for-me,
              .pay-for-other {
                margin-bottom: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
    
              .want-exchange {
                color: #efb336;
              }
    
              .pay-for-me {
                color: #C41A16;
              }
    
              .pay-for-other {
                color: #27af08;
              }
            }
          }
        }
      }
    .main{
      display: flex;
      flex-direction: column;
      .send-by-me-conatiner{
        width: 750px;
      }
      .send-by-me::after{
        clear: both;
        content: '';
        display: block;
      }
        .send-by-other,.send-by-me{
            display: flex;
            justify-content: flex-start;
            margin-top: 20px;
            max-width: 730px;
        }
        .avatar{
            width: 100px;
            height: 100px;
        }
        .send-by-other{
            margin-left: 20px;
            .nick-name{
                font-size: 20px;
                color: #000;
            }
            .send-container{
                margin-top: 25px;
                margin-left: 20px;
            }
        }
        .send-by-me{
            float: right;
            // right: 20px;
            // position: absolute;
            .send-container{
                margin-right: 20px;
                position: relative;
                margin-top: 35px;
                .send-time{
                    position: absolute;
                    right: 0;
                    top: -38px;                    
                }
            }
        }
        .send-container{
            .send-time{
                font-size: 23px;
                color: #888;
                margin-bottom: 10px;
                width: 240px;
            }
            .send-content{
                max-width: 530px;
                border-radius: 20px;
                color: #000000;
                font-size: 28px;
                line-height: 100%;
                word-wrap: break-word;
                word-break: break-all;
            }
            .me{
                background-color:#A3E651;
                padding: 20px;  
            }
            .other{
                background-color: #fff;
                padding: 20px;
            }
        }
    }
}
.send{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: #fff;
    padding-top: 8px;
    .placeholder{
        font-size: 25px;
    }
    .input{
        width: 520px;
        height: 100%; 
        border-width: 1px;
        border-style: solid;
        border-color: #aaa;
        border-radius: 20px; 
        padding-left: 20px;       
    }
    .send-btn{
        width: 180px;
        height: 100%;
        background-color: #C41A16;
        border-radius: 20px;
        line-height: 80px;
        color: #fff;
        text-align: center;
    }
}
.blank{
    height: 50px;
    width: 100%;
}
