$not-found-conatiner-width:750px;
$not-found-conatiner-height:1600px;
$icon-width:140px;
$icon-height:$icon-width;
$font-color:#C41A16;
$font-size:38px;
$text-width:500px;
.not-found-conatiner{
    width: $not-found-conatiner-width;
    // height: $not-found-conatiner-height;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .icon{
        width: $icon-width;
        height: $icon-height;
    }
    .text{
        width: $text-width;
        text-align: center;
        color: $font-color;
        font-size: $font-size;
    }
}