$width:720px;
$height:1300px;
$count-font-size:28px;
$price-font-size:33px;
$want-exchange-color:#efb336;
$pay-for-you-color:#27af08;
$icon-width:50px;
$icon-height:$icon-width;
$icon-margin:20px;
$price-icon-margin:15px;
$article-margin-bottom:20px;
$goods-img-width:$width;
$base-color:#C41A16;
.goods-info-content{
    .body{
        width: $width;
        margin: 0 auto;
        .count{
            font-size: $count-font-size;
        }
        .price{
            font-size: $price-font-size;
            color: $base-color;
            font-weight: bold;
            .price-icon{
                display: flex;
                flex-direction: row;
                margin-bottom: $price-icon-margin;
                .icon{
                    width: $icon-width;
                    height: $icon-height;
                    margin-right: $icon-margin;
                }
                .pay-for-you{
                    color: $pay-for-you-color;
                }
                .want-exchange{
                    color: $want-exchange-color;
                }
            }
        }
        .article{
            margin-bottom: $article-margin-bottom;
        }
        .goods-img{
            width: $goods-img-width;
        }
    }

}