$balance-container-width:720px;
$balance-container-height:200px;
$border-radius:30px;
$balance-container-background-color:#ffffff;
$balance-image-width:60px;
$balance-image-height:$balance-image-width;
$balance-font-weight:600;
$balance-color:#e54d42;
$balance-font-size:33px;
$interval:20px;
$top:-100px;
$letter-spacing:5px;
.balance-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: $top;
    .balance-content-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: $balance-container-width;
        height: $balance-container-height;
        background-color:$balance-container-background-color;
        border-radius: $border-radius;
        background-color: $balance-container-background-color;
        .balance-image{
            width: $balance-image-width;
            height: $balance-image-height;
        }
        .balance{
            font-size: $balance-font-size;
            font-weight: $balance-font-weight;
            color: $balance-color;
            margin-left: $interval;
            letter-spacing: $letter-spacing;
        }
    }
}