$screen-width:750px;
$base-color: #C41A16;
$exchange-color:#efb336;
$exchange-icon-width:40px;
$exchange-icon-height:$exchange-icon-width;
$price-width:140px;
$price-tag-height:90px;
$water-fall-item-width:355px;
$water-fall-item-radius:10px;
$water-fall-item-interval:10px;
$water-fall-item-image-height:300px;
$water-fall-item-title-height:80px;
$water-fall-item-avater-image-size:30px;
$water-fall-item-nick-name-width:160px;
$water-fall-content-color:#666666;
$water-fall-content-font-size:25px;
$water-fall-item-avater-image-marigin-right:10px;
.no-data{
  width: 750px;
  height: 300px;
  background-color: #C41A16;
  color: #ffffff;
  text-align: center;
  padding-top: 80px;
}
.water-fall-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: $screen-width;
  flex-wrap: wrap;
  margin-top: $water-fall-item-interval;

  .water-fall-item {
    width: $water-fall-item-width;
    border-radius: $water-fall-item-radius;
    background-color: #ffffff;
    margin-bottom: $water-fall-item-interval;
    color: #333333;
    text-align: start;
    margin-left: 14px;
    .water-fall-image {
      width: $water-fall-item-width;
      height: $water-fall-item-image-height;
      border-top-left-radius: $water-fall-item-radius;
      border-top-right-radius: $water-fall-item-radius;
    }

    .water-fall-title {
      font-weight: bold;
      height: $water-fall-item-title-height;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: $water-fall-item-radius;
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 30px;
    }

    .water-fall-content-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      padding: $water-fall-item-interval;
      .price-tag{
        display: flex;
        height: $price-tag-height;
        .price-bar{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .water-fall-price-red {
            width: $price-width;
            font-weight: bold;
            color: $base-color;
          }
          .water-fall-price-green{
            width: $price-width;
            font-weight: bold;
            color: rgb(24, 184, 24);
          }
          .water-fall-price-exchange{
            display: flex;
            width: $price-width;
            font-weight: bold;
            color: $exchange-color;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-wrap: nowrap;
            .exchange-image{
              width: $exchange-icon-width;
              height: $exchange-icon-height;
            }
          }
        }
      } 
      .water-fall-avater-image {
        width: $water-fall-item-avater-image-size;
        height: $water-fall-item-avater-image-size;
        border-radius: $water-fall-item-avater-image-size/2;
      }

      .water-fall-nick-name {
        width: $water-fall-item-nick-name-width;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: $water-fall-item-interval;
        color: $water-fall-content-color;
        font-size: $water-fall-content-font-size;
      }

      .water-fall-view-container {
        position: absolute;
        right: $water-fall-item-interval;
        bottom: $water-fall-item-interval;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $water-fall-content-color;
        font-size: $water-fall-content-font-size;

        .water-fall-view-image {
          width: $water-fall-item-avater-image-size;
          height: $water-fall-item-avater-image-size;
          margin-right:$water-fall-item-avater-image-marigin-right;
        }
      }
    }
  }
  .footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:$water-fall-item-width ;
  }
}
