.show_user_info {
  flex-direction: column;
  width: 100%;
  height: 1300px;
  background-image: url(https://xiaoyuanhuan-1301020050.cos.ap-guangzhou.myqcloud.com/icon/show-user-info/background.jpg);
}
