.show-user-info-content{
    width: 720px;
    margin: 0 auto;
    .icon{
        width:40px;
        height:40px;
        margin-right: 10px;
    }
    .key{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sex,.birthday,.header-right{
        display: flex;
        align-items: center;
    }
    .header{
        display: flex;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #ddd;
        margin-bottom: 20px;
        .header-middle{
            margin-left: 20px;
            width: 400px;
            // border-width: 1px;
            // border-style: solid;
            // border-color: red;
            .nick-name{
                font-size: 40px;
                font-weight: bold;
                margin-left: 47px;
            }
            .school{
                font-size: 32px;
                display: flex;
            }
        }
    }
    .body{
        .row{
            width: 720px;
            height: 120px;
            line-height: 120px;
            font-size: 36px;
            display: flex;
            border-bottom-width: 1px;
            border-bottom-style:solid;
            border-color: #ddd;
            .key{
                font-weight: bold;
                margin-right: 20px;
            }
        }
    }
}