.care-people-content{
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    height: 180px;
    padding-left: 20px;
    .content{
        font-size: 20px;
        margin-left: 20px;
        width: 400px;
        .nick-name{
            font-size: 38px;
            font-weight: bold;
        }
    }
    .icon{
        width: 35px;
        height: 35px;
    }
    .care{
        width: 130px;
        height: 55px;
        font-size: 25px;
        border-radius: 30px;
        border-style: solid;
        border-width: 1px;
        border-color: #C41A16;
        color: #C41A16;
        line-height: 45px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cared{
        width: 130px;
        height: 55px;
        font-size: 25px;
        border-radius: 30px;
        border-style: solid;
        border-width: 1px;
        border-color: #aaaaaa;
        color: #aaaaaa;
        line-height: 45px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}